.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* Darken the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer {
    width: 95%;
    height: 95%;
    border-radius: 12px;
    background-color: white;
    /* Remove opacity setting */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    z-index: 1200; /* Add a higher value */
    overflow-y: auto; /* Add vertical scrolling if content overflows */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.modalContainer .titleCloseBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    cursor: pointer;
    background-color: transparent;
}

.footer {
    display: flex;
    justify-content: space-between;
}

/* Styles for smaller screens (phones) */
@media (max-width: 768px) {
    .modalBackground {
        width: 100%;
    }

    .modalContainer {
        width: 90%; /* Adjust the width as needed for phones */
        height: auto;
    }
    
    /* Place the label above the input field */
    .modalContainer .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem; /* Add spacing between form groups */
    }
    
    .modalContainer .form-group label {
        margin-bottom: 0.5rem; /* Add spacing between label and input */
        align-self: flex-start; /* Align the label to the start (top) */
        margin-left: 3rem;
    }
    
    .modalContainer .titleCloseBtn {
        justify-content: flex-end; /* Align the close button to the top */
    }
}
